:root {
    --menu-size: 150px;
}
body {
    background-color: #eee;
}

header {
    background-color: #515151;
    padding: 10px;
    text-align: center;
    color: #71E7EB;
}

.content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

#btnMenu {
    cursor: pointer;
    padding: 15px;
    transition: all 0.5s;
}

#btnClose {
    padding: 8px;
    background-color: #515151;
    color: #71E7EB;
    font-size: 20px;
    font-weight: bold;
}

#btnClose:active {
    background-color: rgb(151, 73, 73);
}

.menu {
    position: fixed;
    top: 0;
    width: var(--menu-size);
    height: 100%;
    background-color: #515151;
    z-index: 1;
}

.menu ul {
    list-style: none;
    margin-top: 40%;
}

.menu ul li {
    display: block;
    margin-top: 70%;
}
 #i{
    font-size: 35px;
 }
.menu ul li a {
    transition: background 0.3s;
    display: block;
    color: #71E7EB;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
}

.menu ul li a:hover {
    background-color:  rgb(247, 217, 201);
}

.effect {
    transition: margin 0.4s;
}

@media (min-width: 768px) {
    #btnClose {
        display: none;
    }
}